.mainWrap {
  width: 100%;
  height: 0px;
  padding-bottom: 100%;
  position: relative;
}

.mainWrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.subWrap {
  width: 100%;
}

.imgFrame {
  width: 100%;
  height: 0px;
  padding-bottom: 100%;
  position: relative;
}

.imgFrame img {
  width: 100%;
  height: 100%;
  position: absolute;
}

input[type="checkbox"] {
  margin-top: 15px;
  transform: scale(2);
}

.modalImgWrap {
  position: relative;
}

.modalImgWrap label {
  position: absolute;
}

.modalImgWrap img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

/* 全頁讀取效果 */
.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  z-index: 8000;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.9);
}

.main {
  position: relative;
  z-index: 1;
  margin-top: 80px;
}

.text-shadow {
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.card-bg {
  background-color: rgba(255, 255, 255, 0.85) !important;
}

/* 首頁按鈕 */
.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  flex-direction: column;
  text-align: center;
}

/* 按鈕:開始點餐 */
.arrow-btn {
  padding: 12px 30px;
  font-size: 18px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  animation: bounce 1s infinite alternate;
  text-decoration: none;
}

.arrow-btn:hover {
  background-color: #0056b3;
}

/* 按鈕:神秘優惠 */
.arrow-btn2 {
  padding: 12px 30px;
  font-size: 18px;
  background-color: #ff00aa;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  animation: bounce 1s infinite alternate;
}

.arrow-btn2:hover {
  background-color: #c800ff;
}

/* 按鈕:商品列表左右按鈕 */
.arrow-btn3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
}

.arrow-btn3:hover {
  background: rgba(0, 0, 0, 0.2);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
}

.left {
  transform: translateY(-50%) rotate(180deg); 
  left: 50px;
  z-index: 1000;
}

.right {
  right: 50px;
  z-index: 1000;
}

/* 向上箭頭按鈕 */
.scroll-to-top {
  position: fixed;
  bottom: 50px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;  /* 隱藏 */
  pointer-events: none;  /* 禁止點擊 */
  transition: opacity 0.3s, transform 0.3s;
  z-index: 1000;
  animation: bounce 1s infinite alternate;
}

.scroll-to-top.visible {
  opacity: 1;  /* 顯示 */
  pointer-events: auto;  /* 允許點擊 */
  transform: translateY(0);
}

.scroll-to-top:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* 向上箭頭樣式 */
.arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #FFF;
}

/* 動畫定義：向下的彈跳效果 */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(10px);
    /* 向下移動 */
  }
}

@media screen and (max-width: 600px) {
  .modalImgWrap img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .left {
    position: fixed;
    left: 20px;
    top: 300px;
    transform: translateY(-50%) rotate(180deg); 
    z-index: 1000;
  }
  
  .right {
    position: fixed;
    right: 20px;
    top: 300px;
    z-index: 1000;
  }
}